{% extends 'base.html' %} 
{% load static %}
{% block contentabout %} 
<style>
    .about-her{
        border: solid 1px;
        margin-top: 50px;
        padding: 50px; 
    }
    .order{
        border: solid 1px;
        margin-top: 50px;
        padding: 50px;
    }
    h1{
        font-family: oblique ; 
    }
    .delivery{
        border: solid 1px;
        margin-top: 50px;
        padding: 50px;
    }
</style>
<div class="about-her" >
<h1><i>About me </i>  </h1>
<p>I'm a crochet artist </p>
    <p>I used my hobby to trade. Then I created a store in the Instagram application,</p>
    <p>in which I sell my work. I love when clients praise my work .</p>
    <p> Every piece is made with love  <p style="font-family: Helvetica, Arial, Sans-Serif; font-size: 26px;">&#10084;</p>  </p>
</div>
<div class="order" > <h1> <i>How to order ?</i></h1>
    <p> Contact me via   <a href="https://www.instagram.com/kitten_crochet/"target="_blank" >Instagram</a> or <a href="https://twitter.com/kitten_crochet?lang=ar"target="_blank">Twitter</a> </p>
    <div>
<p>Duration of work on your requests: from one week to 3 weeks .</p>
    </div>
</div>
<div class="delivery">   
    <h1>Delivery</h1>
    <p>Inside Jeddah Via <a href="https://fastlo.com/ar"target="_blank" >fastlo</a>  delivery company</p>
    <p>Delivery to all cities of the Kingdom of Saudi Arabia for 58 riyals through <a href="https://fastlo.com/ar"target="_blank" >fastlo</a> delivery company</p> </div>
{% endblock contentabout %}
